<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>FAQ</h2>
<ul>
  <li> What are the products we deal in?</li>
  <p> We deal in different types for art materials, stationery items and computer peripherals. We are also dealing with various educational items</p>
</ul>