<h1>Stores</h1>
<p>
  This is the home page for the
  <a href="https://github.com/boddhisattva/stores4">Stores</a>
   application.
</p>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
