<footer class="footer">
  <small>
    <a href="https://github.com/boddhisattva/stores4">Stores App</a>
    by <a href ="http://boddhisattvadedicates.blogspot.com">Mohnish G J</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>